{{#extend "default"}}
  {{#content "main"}}
  <div class="main-container transition--fade transition--active">
            <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="3">
                <div class="background-image-holder" style="transform: translate3d(0px, 61px, 0px); opacity: 1; top: 0px; background: url(&quot;img/hero10.jpg&quot;);">
                    <img alt="image" src="img/hero10.jpg">
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h1>Digital Delivered.</h1>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-left">
                    <div class="background-image-holder" style="opacity: 1; background: url(&quot;img/inner1.jpg&quot;);">
                        <img alt="image" src="img/inner1.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
                            <h4>Expertise is just the beginning…</h4>
                            <p>
                                Strategy gamification alpha startup angel investor channels customer direct mailing burn rate churn rate bandwidth innovator seed round. Ramen disruptive graphical user interface.
                            </p>
                            <p>
                                Strategy gamification alpha startup angel investor channels customer direct mailing burn rate churn rate bandwidth innovator seed round. Ramen disruptive graphical user interface. Infrastructure bootstrapping branding leverage twitter channels MVP iPad launch party non-disclosure agreement.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder" style="opacity: 1; background: url(&quot;img/inner2.jpg&quot;);">
                        <img alt="image" src="img/inner2.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-8">
                            <h4>Full service — No compromise.</h4>
                            <p>
                                Strategy gamification alpha startup angel investor channels customer direct mailing burn rate churn rate bandwidth innovator seed round. Ramen disruptive graphical user interface.
                            </p>
                            <p>
                                Strategy gamification alpha startup angel investor channels customer direct mailing burn rate churn rate bandwidth innovator seed round. Ramen disruptive graphical user interface. Infrastructure bootstrapping branding leverage twitter channels MVP iPad launch party non-disclosure agreement.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="stats-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4>Get to know us better…</h4>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Tree-2 color--primary"></i>
                                <h3>2010</h3>
                                <span>
                                    <em>Year of foundation</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Bodybuilding color--primary"></i>
                                <h3>16</h3>
                                <span>
                                    <em>Passionate team members</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Thumbs-UpSmiley color--primary"></i>
                                <h3>Over 500</h3>
                                <span>
                                    <em>Satisfied clients</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Alarm-Clock color--primary"></i>
                                <h3>0</h3>
                                <span>
                                    <em>Missed meetings</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Marker color--primary"></i>
                                <h3>Countless</h3>
                                <span>
                                    <em>Sharpies exhausted</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Rock-andRoll color--primary"></i>
                                <h3>1</h3>
                                <span>
                                    <em>Resident DJ</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{> what-can-easyweb-do}}
   </div>
  {{/content}}
 {{/extend}}
